* {
    box-sizing: border-box;
}

:root {
    --heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
    text-align: center;
    padding: 0 8px;
    line-height: 50px;
    min-width: 118px;
    border-radius: 99999px;
    background: #171100;
    display: inline-block;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-family: var(--heading);
    font-weight: 700;

    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.desc.sm {
    font-size: 1.6rem;
    line-height: 1.75;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::before {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
    line-height: 49px;
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 65px 0;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;

    /* thẻ inline căn theo baseline, nên sẽ có khoảng trắng dưới cùng
        cho các chữ g, p, q... để loại bỏ khoảng trắng đó ta có thể
        display: block;
        vertical-align: bottom
    */
    vertical-align: bottom;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 270px;
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block {
    width: 52%;
}

/* Hero right */
.content-block {
    padding: 64px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.content-block .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.content-block .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-block .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.content-block .stats {
    margin-top: 8px;
    margin-left: -29px;
}

.content-block .stats strong {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    margin-left: 28px;
    margin-right: 14px;
}

/* Popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .info {
    width: 458px;
}

.popular-top .info .desc {
    margin-top: 16px;
}

.popular-top .controls {
    display: flex;
    align-items: center;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.popular-top .control-btn:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
}

/* Course list */
.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-list .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.course-list .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: 0 -1px;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .head,
.course-item .info .rating,
.course-item .info .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .info .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    padding-right: 8px;
}

.course-item .rating .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.course-item .info .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-item .info .foot {
    margin-top: 12px;
}

.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .foot .book-now-btn {
    border: none;
}

.course-item .foot .book-now-btn:hover {
    cursor: pointer;
    background: var(--primary-color);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    transition: all ease 0.3s;
}

.feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .dots {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dot.active {
    background: #ffb900;
}

.feedback-item .content {
    margin-left: auto;
    width: 66%;
}

.feedback-item .content blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* Feature */
.feature {
    margin-top: 135px;
    padding: 65px 0;
}

.feature .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature .images {
    display: flex;
    gap: 30px;
}

.feature .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
}

.feature .images img.lower {
    margin-top: 34px;
}

.feature .content {
    width: 41%;
}

.feature .content .desc {
    margin-top: 16px;
}

.feature .content .desc.lower {
    margin-top: 30px;
}

.feature .content .cta-btn {
    margin-top: 38px;
    min-width: 137px;
    background: var(--primary-color);
}

/* Feature 2nd */
.feature-2nd {
    margin-top: 70px;
}

.feature-2nd .body {
    flex-direction: row-reverse;
}

.feature-2nd .content {
    width: 49%;
}

.feature-2nd .images img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}
