* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    text-align: center;
    padding: 0 8px;
    line-height: 49px;
    min-width: 118px;
    border-radius: 99999px;
    background: #171100;
}

/* Header */
.header.fixed {
    position: sticky;
    padding-top: 28px;
    top: -28px;
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::before {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}
